* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
  }
  .container {
    background: black;
    border-radius: 50px;
    color: white;
    height: 1218px;
    padding: 20px;
    position: relative;
    width: 563px;
  }
  .top {
    display: flex;
    height: 250px;
    padding: 0 20px;
    justify-content: flex-end;
  }
  .value {
    font-size: 130px;
    font-weight: 300;
    height: 158px;
    width: 100%;
    margin-bottom: 20px;
    text-align: right;
    background-color: black;
    border: none;
    color: white
  }
  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 950px;
    width: 523px;
    
  }
  .row-style {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  button {
    align-items: center;
    background: #333;
    border-radius: 50%;
    cursor: pointer;
    font-size: 45px;
    height: 110px;
    transition: filter .3s;
    width: 110px;
    color: white;
  }
  .grey {
    color: black;
    background: #a5a5a5;
  }
  .yellow {
    background: #f1a33c;
  }
  .button_0 {
    border-radius: 55px;
    grid-column: 1 / span 2;
    justify-content: flex-start;
    padding-left: 43px;
    width: 240px;
    display: flex;
  }